@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@theme {
	--container-max-width: 1440px;

	--deep-dark: #0f1115;
	--light-dark: #2d3342;

	--brand-purple: #6366f1;
	--light-purple: #a78bfa;

	--deep-white: #ffffff;
	--brand-white: #f1f5f9;

	--brand-gray: #cbd5e1;

	--deep-lime: #00ff94;

	--deep-yellow: #eaa72b;

	--color-primary: #6366f1;
	--color-background: #0f1115;
	--color-header-icons: #a5a5b9;
}

@utility container-wide {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1440px;
	padding-left: 1rem;
	padding-right: 1rem;

	@media (min-width: 1024px) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@utility flex-all-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@custom-variant dark (&:is(.dark *));
